# -*- coding: utf-8 -*-

token = '<token-telegram>'
url_jenkins = "http://jenkins.ru"
url_jenkins2 = "http://jenkins-2.ru"
username = "user-jenkins"
password = "pass-jenkins"
url_gitlab = "http://gitlab"
token_gitlab = 'token-gitlab'
proxy_server = '<login>:<pass>@<ip>:<port>'
true_id = [n1, n2, n3]
true_id_dev = [n1, n2, n3, n4, n5, n6, n7]
