# -*- coding: utf-8 -*-
import os
true_id = [n1, n2, n3]
true_id_dev = [n1, n2, n3, n4, n5, n6, n7]
token = os.getenv('TOKEN_TELEGRAM', '')
url_jenkins = os.getenv('URL_JENKINS_1', 'http://jenkins.ru')
url_jenkins2 = os.getenv('URL_JENKINS_2', 'http://jenkins-2.ru')
username = os.getenv('USER_JENKINS', '')
password = os.getenv('PASS_JENKINS', '')
url_gitlab = os.getenv('URL_GITLAB', 'http://gitlab')
token_gitlab = os.getenv('TOKEN_GITLAB', '')
proxy_server = os.getenv('PROXY_SOCKS5', '<login>:<pass>@<ip>:<port>')
deploy_sticker = ['CAADAgADCgADFvHqEpRNGYEZoiEhAg', 'CAADBQADwBIAAqtmNAEeDSVPmZmCjQI', 'CAADBQAD-RIAAqtmNAGyGEN767eShwI',
                  'CAADAgADVAMAAlvD2wGlm85Pzd9NdAI', 'CAADAgADggMAAlvD2wHbDXB8T1UNqgI', 'CAADAgADiAMAAlvD2wE4_DRv2JNfzwI',
                  'CAADAgADuAADc0LMDyrygZwH_M8wAg', 'CAADBQAD0QADq2Y0Ado7VlqMqeZzAg']
logs_sticker = ['CAADAgADDAADFvHqEsdcE_45zbbsAg',]
kill_sticker = ['CAADAgADIAADFvHqEqDWa0lrY0FgAg', 'CAADAgADOAIAAmkSAALvLZZG712xywI']
true_sticker = ['CAADAgADcgIAAjbsGwVreq5P_HoiGwI', 'CAADAgADHgADtB8uBfgQg8t6qAFEAg', 'CAADAgAD8wEAAjbsGwW2Mc8WInx5wQI',
                'CAADAgADEgcAAkGorgaa-SDlP65GrQI', 'CAADBAADbwEAAko4qwABm2l0McPQ_64C', 'CAADAgADGQADtB8uBeiEMsS5K0s-Ag',
                'CAADAgADEwADtB8uBVH9PC88GFziAg', 'CAADAgADFwADtB8uBarnwfUyAu55Ag', 'CAADAQADKQQAAlFK9wAB3uDshNlmk9gC',
                'CAADAQADHAQAAlFK9wABJef6u0bB7m0C', 'CAADAQADPAQAAlFK9wABPn_Y592NrvYC', 'CAADAgADvQEAAzigCu2RLkmY1eFZAg',
                'CAADAgADqQEAAzigCqF9FZ-wRtvCAg', 'CAADAgADqwEAAzigCmVObU_S3BqZAg', 'CAADAgADMQADpVvrBbAKfLPUWaQqAg',
                'CAADAgADPQADfeyYB37SM48WKcdjAg', 'CAADAgADMwADfeyYB_fFeODBsb0yAg', 'CAADBAAD9QIAAlGMzwGAZVWmYCftsAI',
                'CAADBAADLwMAAlGMzwGAAW1i1fyCXwI', 'CAADBAADRwMAAlGMzwEti4q6gTQ3ZgI', 'CAADAgAD_QEAAmkSAAKYzOq15wls3QI',
                'CAADAgAEAgACaRIAAhuHdSGoMKhpAg', 'CAADAgADAgIAAmkSAALsebYhDF6WmwI', 'CAADAgADBgIAAmkSAAJJmNpjCeJdsQI',
                'CAADAgADCgIAAmkSAAKTrYj84n3CkQI', 'CAADAgADDAIAAmkSAAImRL7VT3TbJAI', 'CAADAgADEAIAAmkSAAJ9I6T4TQ07EAI',
                'CAADAgADFAIAAmkSAAJF57n2Bi96oAI', 'CAADBQADmQADq2Y0AVCj5lMjk3x1Ag', 'CAADBQADmwADq2Y0AdL-nlAYDZxoAg',
                'CAADBQADnQADq2Y0ASekmOQBL_h2Ag', 'CAADBQADoQADq2Y0AdG-PWaBAtQJAg', 'CAADBQADtwADq2Y0AULrTZbfPNGSAg',
                'CAADBQADuQADq2Y0AaYNriMm-_gEAg', 'CAADBQADzwADq2Y0AW7EXcq0M9oYAg', 'CAADBQADzQADq2Y0ARsQfj9a3DgTAg',
                'CAADBQAD0wADq2Y0AYkJ4qRP1cZZAg', 'CAADBQAD1QADq2Y0AZw7DsrCHERrAg', 'CAADBQADFQEAAqtmNAFznbijXeCtAgI',
                'CAADBQADEwEAAqtmNAG7CzgXcKGlrQI', 'CAADBQADwhIAAqtmNAEOf_YV6GYsrwI', 'CAADBQAD-RIAAqtmNAGyGEN767eShwI',
                'CAADAgADbAMAAlvD2wHv7Op6j9CpQAI', 'CAADAgADbgMAAlvD2wG5guXumGlLaQI', 'CAADAgADcAMAAlvD2wEz-SrDhHAsOQI',
                'CAADAgADeAMAAlvD2wFTHaSaj4SORwI', 'CAADAgADdgMAAlvD2wF5mniHKyrdNQI', 'CAADAgADdAMAAlvD2wEmhnTCUTPv-wI',
                'CAADAgADcgMAAlvD2wG7uIC5zarVewI']
error_sticker = ['CAADAgADCAcAAkGorgYq8_mUQ9P51QI', 'CAADAgADMyYAAktqAwABf5ROt-qqdcYC', 'CAADAgADBgEAAt8NNAbPQgIODwUNcgI',
                 'CAADBAADzAADR2brAAECwc8l6S5UsQI', 'CAADAgADZQEAAjbsGwVtNjYkPtQFsgI', 'CAADAgADXAADQaiuBqB89HjfmY6TAg',
                 'CAADAgADDwcAAkGorgbR-IL-Pv-3KwI', 'CAADAgADZAcAAkGorgbLxOykMSxiBwI', 'CAADAgADJgADtB8uBZW3EQ3ThxhMAg',
                 'CAADAgADKgADtB8uBYi5_IO_LTA5Ag', 'CAADAgADMwADtB8uBZ08P5LLBOvBAg', 'CAADAgADOAADtB8uBbhuBAR6RF9xAg',
                 'CAADAgADEwADFvHqEndEsl0F716xAg', 'CAADAgADCQADFvHqEq3z1yxY4gaZAg', 'CAADAgADDAADFvHqEsdcE_45zbbsAg',
                 'CAADAgADFAADFvHqEhq7wGAHFNNlAg', 'CAADAgADFQADFvHqEqGT-VhWIq96Ag', 'CAADAgADLwADpVvrBcFIvDSDkNm2Ag',
                 'CAADAgADMAADpVvrBYeGaCm6MeZLAg', 'CAADAgADRwADfeyYBxFKEm-I6FFQAg', 'CAADAgADSQADfeyYB0xvCpnpgdvyAg',
                 'CAADBAAD6wIAAlGMzwHHJxEAAXAnio8C', 'CAADBAAD8wIAAlGMzwE5bif6WxpGegI', 'CAADBAADHQMAAlGMzwHgSB65oZSEOwI',
                 'CAADBAADJgMAAlGMzwH5g5DrAz_J4gI', 'CAADBAADOgMAAlGMzwEWaCzFWso3zQI', 'CAADBAADQAYAAlGMzwGWIQXTZCwTwQI',
                 'CAADBAADWgYAAlGMzwGBR02lIExdzAI', 'CAADBAADYgYAAlGMzwHChD-zqzo9_wI', 'CAADAgADGAIAAmkSAAJWHyklsyrFUQI',
                 'CAADAgADGgIAAmkSAAK4mA6xyu3crAI', 'CAADAgADHgIAAmkSAAJ3oT153ZkEfAI', 'CAADAgADNgIAAmkSAALDbDc7jYQxzwI',
                 'CAADAgADOgIAAmkSAAI0eylsAm2zKwI', 'CAADAgADSAIAAmkSAAIPfaROUApMAAEC', 'CAADBQAD2wADq2Y0AQcu4-mOwCnHAg',
                 'CAADBQAD7QADq2Y0AdykOI5cn0kbAg', 'CAADBQAD_QADq2Y0AVMrDvwgczCEAg', 'CAADBQADBQEAAqtmNAHngVTYuIfp_AI',
                 'CAADAgADVAMAAlvD2wGlm85Pzd9NdAI', 'CAADAgADWgMAAlvD2wHm50h-1yGQ2wI', 'CAADAgADXAMAAlvD2wFQlI3vxu_sRwI',
                 'CAADAgADYAMAAlvD2wGJ5VS2s-c5zQI', 'CAADAgADYgMAAlvD2wHegcGit0qjaAI', 'CAADAgADaAMAAlvD2wFDlxLTcUNjIwI',
                 'CAADAgADagMAAlvD2wG8tdKtHJp-bgI']