version: '3.5'
services:
  bot:
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile
    image: nefariusmag/telegram-bot:${VERSION_BOT}
    restart: always

networks:
  default: {}
